*{
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.section{
    height: 100vh;
    border-radius: 60px;
    margin: auto 60px;
    padding: 60px;
    transform-origin: center 150%;
}
.title{
    font-size: 80px;
    margin-bottom: 120px;
}
.content{
    font-size: 24px;
    max-width: 600px;
}
.section_anim{
    color: white;
}
.section_anim:nth-of-type(2n+1){
    background-color: aquamarine;
}
.section_anim:nth-of-type(2n){
    background-color: rgb(255, 255, 85);
}
.section_anim:nth-of-type(3n){
    background-color: rgb(1, 89, 253);
}